{deps, [
  {mqttl, ".*", {git, "https://github.com/kgyokov/MQTT-Lib.git", {branch, "develop"}}},
  {jsone, "1.4.3", {git, "https://github.com/sile/jsone.git", {tag, "1.4.3"}}}
]}.

{relx, [{release, { iotlb, "0.1.0" },
  [iotlb]},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{profiles, [
  {prod,
    [{relx, [{dev_mode, false},
     {include_erts, true}]}
    ]
  },
  {test, [
    {erl_opts, [debug_info]}
  ]}
]}.
